<h1 class="title">Sign up to become a member of Private Events</h1>

<div class="signup-form">
<% if @user.errors.any? %>
  <div id="user-error-explanation">
    <h2><%= pluralize(@user.errors.count, "error")%>
      prevented the user from being created:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, autocomplete: "off" %>
    <br/>

    <%= f.label :email %>
    <%= f.text_field :email, autocomplete: "off" %>
    <br/>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br/>

    <%= f.label :password_confirmation, "Confirm" %>
    <%= f.password_field :password_confirmation %>
    <br/><br/>

    <%= f.submit "Submit" %>
    <br/>

<% end %>
</div>
