<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>

  <br/>

  <strong>Email:</strong>
  <%= @user.email %>
</p>


<%  if @user == current_user %>
  <%= link_to "Edit Your Profile", edit_user_path(@user)%>
  <br/><br/>
  <h3><%= link_to "Create New Event", new_event_path %></h3>
<% end %>

<% if @user.hosted_events.count > 0 %>
  <h2>Hosted Events:</h2>
<% end %>
<% @user.hosted_events.each do |event| %>
<p>
  Title: <%= link_to event.title, event %><br/>
  Location: <%= event.location %><br/>
  Date: <%= event.date %>
</p>
<% end %>


<%  if @user == current_user %>
    <% if @user.invites.where(accepted: false).count > 0 %>
      <h2>Events Invitations:</h2>
    <% end %>
    <% @user.invites.where(accepted: false).each do |invite| %>
      <p>

        <% event = Event.find(invite.attended_event_id) %>

        Title: <%= link_to event.title, event %><br/>
        Location: <%= event.location %><br/>
        Date: <%= event.date %>
      </p>
      <h4><%= link_to "Accept Invitation", edit_invite_path(invite) %></h4>
    <% end %>
<% end %>
