<h1 class="title">Create your event:</h1>

<div class="new-event">

<% if @event.errors.any? %>
  <div id="event-error-explanation">
    <h2><%= pluralize(@event.errors.count, "error")%>
      prevented this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @event do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title, autocomplete: "off" %>

    <br/><br/>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <br/><br/>

    <%= f.label :location %>
    <%= f.text_field :location, autocomplete: "off" %>

    <br/><br/>

    <%= f.label :date %>
    <%= f.date_field :date %>

    <br/><br/>

    <%= f.submit "Submit Your New Event" %>

<% end %>

</div>
