<h1>Create your event:</h1>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error")%>
      prevent this event from being saved:</h2>

      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @event do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <br/><br/>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <br/><br/>

    <%= f.label :location %>
    <%= f.text_field :location %>

    <br/><br/>

    <%= f.label :date %>
    <%= f.date_field :date %>

    <br/><br/>

    <ul style="list-style:none">
      <% User.all.each do |u| %>
        <% next if u == current_user %> <!-- Makes sure current user does not have an option to invite themselves -->
        <li> <input id=<%= "invite[#{u.id}]" %> name=<%= "invite[#{u.id}]" %> type='checkbox' value='1' />
        <%= u.name %></li>
      <% end %>
    </ul>


    <%= f.submit "Submit Your New Event" %>

<% end %>
