<h1><%= @event.title %></h1>
<h3><strong>Hosted by:</strong> <%= User.find(@event.host_id).name %></h3>
<p><strong>What:</strong> <%= @event.description %></p>
<p><strong>Where:</strong> <%= @event.location %></p>
<p><strong>When:</strong> <%= @event.date %></p>


<h3><%= link_to "Invite people", new_invite_path%></h3>
