<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Calligraffitti" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="pagetop">
      <% if !logged_in? %>
          <!-- always generic image -->
          <%= image_tag("user-logo.png", alt: "user-logo", class: "user-logo") %>
          <div class="toplinks">
            <%= link_to 'Log in', login_path%>
          </div>
      <% else %>
          <!-- Will be user's avatar -->
          <%= image_tag("user-logo.png", alt: "user-logo", class: "user-logo") %>
          <div class="toplinks">
            <div class="user-name"> <%= current_user.name %> </div>
            <%= link_to 'Log out', logout_path, method: :delete %>
          </div>
      <% end %>
    </div>

    <p class="navlinks">
      <% if !logged_in? %>
        <%= link_to 'Events', events_path%>
        <%= link_to 'About', events_path%>
        <%= link_to 'Contact', events_path%>
      <% else %>
          <%= link_to 'My Events', user_path(current_user)%>
          <%= link_to 'All Events', events_path%>
          <%= link_to 'Members', users_path%>
          <%= link_to 'About', events_path%>
          <%= link_to 'Contact', events_path%>
      <% end %>
    </p>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>

</html>
