<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <% if !logged_in? %>
        <%= link_to 'Log in', login_path%>
      <% else %>
          Logged in as: <%= current_user.name %>
          <%= link_to 'HOME', user_path(current_user)%>
          <%= link_to 'Log out', logout_path, method: :delete %>
      <% end %>
      <%= link_to 'Events', events_path%>
    </p>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>

</html>
